.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;

    svg{
        width: 10rem;
        height: 10rem;
        margin-bottom: 20px;
        color: #09f;
    }

    p{
        margin-bottom: 2rem;
        color: rgb(154, 154, 154);
    }
}

.return{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #09f;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: #007acc;
    }
}