.spinnerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.spinnerText {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.spinner {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.5rem solid;
    border-color:  #09f #fff #fff #fff;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}